{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Muistilista</h1>
</div>

<p>
    <a href="{{base_path}}/new" class="btn btn-success">Lisää muistio</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
    <thead>
        <tr>
            <th>Otsikko</th>
            <th>Sisältö</th>
            <th>Prioriteetti</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for memo in memos %}
        <tr>
            <td>{{memo.title}}</td>
            <td>{{memo.content}}</td>
            <td>{{memo.priority}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/{{memo.id}}">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
